parameters:
    level: 5
    paths:
        - config
        - src
    tmpDir: build/phpstan
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false

